---
layout: default
---

{% for post in site.posts %}

	{% comment %} Start a new row for every 3rd image {% endcomment %} 
	{% assign loopindex = forloop.index | modulo: 3 %}		
	{% if loopindex == 1 %}
		<div class='row'>
	{% endif %}

	{% comment %} Get a URL for a cover image.  If one is specified in the front matter, use that.  If not, use the first image from the front matter. {% endcomment %} 
	{% if post.coverimagename %}
		{% capture coverimagepath %}{{ site.baseurl }}/{{ post.sketchpath }}/{{ post.coverimagename }}{% endcapture %}
	{% else %}
		{% capture coverimagepath %}{{ site.baseurl }}/{{ post.sketchpath }}/{{ post.imagenames[0] }}{% endcapture %}
	{% endif %}
	
	<figure class='col-md-4 nogutter'>
		<a href="{{ baseurl }}/{{ post.url }}"><img src='{{ coverimagepath }}'></a>
		{% comment %} Come back and add caption: <figcaption>{{ post.title }}</figcaption> {% endcomment %} 
	</figure>

	{% comment %} End row after every 3th image {% endcomment %} 
	{% if loopindex == 0 %}
		</div>
	{% endif %}


{% endfor %}
